body{
    background-color: rgb(255, 255, 255);
    font-family: "Arial Narrow";
    color: rgb(0, 0, 0);
    margin-top: 20px;
    
}

h1 {
    font-size: 30px;
    color: red;
    font-weight: bolder;
}
h2 {
    font-size: 30px;
    color: red;
    font-weight: bolder;
}

p {
    font-size: larger;
    line-height: 1.5;
    color: rgb(89, 29, 255);

}


dl {
    font-size: larger;
    line-height: 1.5;
    color: blue;

}

