body{
    margin: auto;
    padding: auto;
    
}

h1 {
    color: red;
    text-align: center;

}

h2{
    color: red;
    text-align: center;
}

p {
    text-align: center;
}

a{
    text-decoration: none;
}
