body{

    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

.tabuleiro{
    margin: 0 auto;
    display: inline-block;

}

.celula{

    width: 100px;
    height: 100px;

    font-size: 48px;

    cursor: pointer;
}